* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9EDC9;
    background-image: url(./images/Gemini_Generated_Image_wt4iqrwt4iqrwt4i.png);
    overflow-x: hidden;
}

.main_div {

    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    gap: 10px
}

h1 {
    font-size: 100%;
    color: #896644;
}

.validErr {
    color: red;
}

.carte {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.conferece {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: center;
    height: 200px;
    width: 400px;
    background-image: url(./images/reception.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 1px #070504;
}

.servers {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px  solid;
    border-color: red;
    height: 230px;
    width: 270px;
    background-image: url(./images/servers.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 1px #070504;
}

.security {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px  solid;
    border-color: red;
    height: 230px;
    width: 270px;
    background-image: url(./images/security.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 1px #070504;
}

.reception {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px  solid;
    border-color: red;
    height: 350px;
    width: 350px;
    background-image: url(./images/reception\ 2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 1px #070504;
}

.staff {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 220px;
    width: 250px;
    background-image: url(./images/staff.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 1px #070504;
}

.vault {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px  solid;
    border-color: red;
    height: 220px;
    width: 270px;
    background-image: url(./images/vault.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 1px #070504;
}

.carte-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.members-container {
    width: 30%;
    /* height: 90%; */
    padding-top: 30px;
    /* padding-left:5px ;
    padding-right: 5px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    border-radius: 10px;
    background-image: url(./images/Gemini_Generated_Image_wt4iqrwt4iqrwt4i\ 222.png);
    box-shadow: 0px 0px 20px 5px #070504;
    overflow-y: auto;
}

.members-search {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;

}

.add-button {
    font-size: larger;
    width: 70%;
    height: 33px;
    background-color: #896644;
    color: white;
    border-radius: 15px;
    border: 0;
}

.rooms-buttons {
    font-size: larger;
    width: 40px;
    height: 40px;
    background-color: #896644;
    color: white;
    border-radius: 15px;
    border: 0;
}

.add-button:hover {
    background-color: #9b7753;
}

.rooms-buttons:hover {
    background-color: #9b7753;
}

.modal-ajout-container {

    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);

}

.modal-ajout {
    background-image: url(./images/Gemini_Generated_Image_wt4iqrwt4iqrwt4i\ 222.png);
    box-shadow: 0px 0px 20px 2px #070504;
    border-radius: 10px;
    height: 80%;
    width: 30vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px
}

.member-info-input {
    background-color: #f7cda2;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;

}

/* .member-info {
    font-size: 20px;
    color: #664c32;
} */

.member-image img {
    height: 60px;
    width: 60px;

    border-radius: 50%;
}

.modal-ajout-buttons {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    height: 33px;
    width: 32%;
    background-color: #896644;
    color: white;
    border-radius: 15px;
    border: 0;
    margin-top: 10px;
}


.modal-ajout-buttons:hover {
    background-color: #9b7753;
}

.experiences-container {
    background-color: #98724ceb;
    border-radius: 10px;
    border: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin-bottom: 20px;
}

.modal-select-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.modal-select {
    background-image: url(./images/Gemini_Generated_Image_wt4iqrwt4iqrwt4i\ 222.png);
    /* pointer-events: auto; */

    box-shadow: 0px 0px 20px 2px #070504;
    border-radius: 10px;
    height: 80%;
    width: 30vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px
}

.select {
    display: flex;
    justify-content: center;
}

.select-heading {
    font-size: 30px;
    color: #664c32;
}

.modal-worker-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.modal-worker {
    background-image: url(./images/Gemini_Generated_Image_wt4iqrwt4iqrwt4i\ 222.png);
    box-shadow: 0px 0px 20px 2px #070504;
    border-radius: 10px;
    height: 80%;
    width: 30vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px
}

.member-in-container {
    background-color: #98724ceb;
    border-radius: 10px;
    border: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
    margin-bottom: 10px;
}
.member-in-container:hover {
    background-color: #a47c53;
}


.member-name-in-container {
    display: flex;
    flex-direction: column;
}

.member-img-in-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.experiences-div {
    background-color: #98724ceb;
    border-radius: 10px;
    width: 80%;
    border: 0;
    padding: 20px;
    gap: 10px;
    margin-top: 20px;
}

.member-info {
    font-size: 20px;
    color: #664c32;
}

.member-infoo {
    font-size: 15px;
}



.member-img-in-room {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

@media (max-width: 1024px) {



    .member-infoo {
        font-size: 15px;
    }

    .member-img-in-room {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: none;
    }

    .modal-select {
        width: 50%;
    }

    .modal-ajout {
        width: 50%;
    }

    .modal-worker {
        width: 50%;
    }

    .staff {

        height: 154px;
        width: 175px;
    }

    .conferece {
        height: 140px;
        width: 280px;
    }

    .servers {
        height: 161px;
        width: 189px;
    }

    .security {
        height: 161px;
        width: 189px;
    }

    .reception {
        height: 245px;
        width: 245px;
    }

    .vault {
        height: 154px;
        width: 189px;
    }

    


}

@media (max-width: 768px) {


    .member-infoo {
        font-size: 10px;

    }

    .member-img-in-room {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: none;

    }

    .main_div {
        height: 70%;
    }

    .modal-select {
        width: 50%;
    }

    .modal-ajout {
        width: 50%;
    }

    .modal-worker {
        width: 50%;
    }

    .staff {
        height: 110px;
        width: 125px;
    }

    .conferece {
        height: 100px;
        width: 200px;
    }

    .servers {
        height: 115px;
        width: 135px;
    }

    .security {
        height: 115px;
        width: 135px;
    }

    .reception {
        height: 175px;
        width: 175px;
    }

    .vault {
        height: 110px;
        width: 135px;
    }


}

@media (max-width: 480px) {
    .member-infoo {
        font-size: 15px;
    }

    .member-img-in-room {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: none;
    }

    .members-container {
        width: 80%;
        height: 400px;
        padding-top: 30px;
    }

    main {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: normal;
    }

    .main_div {
        padding-top: 50px;
        padding-bottom: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .modal-select {
        width: 80%;
    }

    .modal-ajout {
        width: 80%;
    }

    .modal-worker {
        width: 80%;
    }


    .carte {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }


    .carte-divs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .staff {
        height: 220px;
        width: 250px;
    }

    .conferece {
        height: 140px;
        width: 280px;
    }

    .servers {
        height: 230px;
        width: 270px;
    }

    .security {
        height: 230px;
        width: 270px;
    }

    .reception {
        height: 245px;
        width: 245px;
    }

    .vault {
        height: 220px;
        width: 270px;
    }
}